.vote-div{
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    margin: 10px 250px;
}
.vote-show-div table {
    margin: 40px 0px;
    border: 2px solid black;
}
.vote-show-div table tr th{
    margin: 10px 10px;
    padding: 20px;
    text-align:center;
    border: 2px solid black;
}
.vote-show-div table tr td{
    margin: 10px 10px;
    padding: 20px;
    text-align:center;
    border: 1px solid black;
}
