.apply-how-section{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:  40px;
    border: 1px outset grey;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    background-color:#56b4b4;

   margin: 20px 40px;
}
.how-apply-img img{
    width:600px;
    height: 400px;
    
}
.apply-how-section p:nth-child(1){
    padding-top:30px;
    font-size: 30px;
    font-weight: 700;
}
.how-apply-desc p{
    font-size: 20px;
}
.how-apply-desc p:nth-child(1){
    font-weight: 400;
    font-size: 20px;
}
.how-apply-desc p span{
    font-weight: bold;
}

/* Ongoing election */
.ongoing-election{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border:1px outset black;
    border-radius:50px;
    box-shadow: 5px 3px 12px rgba(0,0,0,0.3);
    margin: 50px 40px;
    background-color: #d1b4ab;
}
.ongoing-election p:nth-child(1){
    font-size: 30px;
    font-weight: 700;
}
.ongoing-election table{
    width:60%;
    margin:20px;
    /* border: 2px solid black; */
}
.ongoing-election table td{
    font-size: 25px;
    padding:20px;
    border-bottom: 2px solid black;
    
}
.ongoing-election table tr:last-child td{
    border-bottom:none;
}
.ongoing-election table td:nth-child(1){
    border-right: 2px solid black;
}
.ongoing-election table td:nth-child(2){
    text-align:center;
}

.btn-form{
    width:100px;
    height:50px;
    text-align:center;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.3);
}
.btn-form:hover{
    background-color:black;
    color:white;
}
